# Emploia — Variables d'environnement

# ── RAPIDAPI (JSearch + French Job Market + Internships) ──
RAPIDAPI_KEY=80dc47a00fmsh2e97f1902a01ecbp159fd7jsn87a82212d820

# ── ADZUNA ──
ADZUNA_APP_ID=af5802f1
ADZUNA_APP_KEY=bd4cc888cf0e62d9ff1350228d214c73

# ── FRANCE TRAVAIL (en attente validation) ──
# FRANCE_TRAVAIL_CLIENT_ID=
# FRANCE_TRAVAIL_CLIENT_SECRET=
